---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "About Me";

const identity = {
  firstName: "Constantine",
  country: "Georgia",
  occupation: "Frontend Developer",
  hobbies: ["Writing", "Languages", "Music"],
};

const skills = ["HTML", "CSS", "JavaScript", "Astro"];

const happy = true;
const finished = false;
const goal = 3;

// ⭐⭐⭐ You can define variables within your code fence, then use them as CSS variables in your style tag.
const skillColor = "navy";
const fontWeight = "700";
const textCase = "uppercase";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <!-- ⭐⭐⭐ adding astro's tag -->
    <style define:vars={{ skillColor, fontWeight, textCase }}>
      .hobby {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <!-- <Header /> -->
    <BaseLayout pageTitle={pageTitle}>
      <p>
        My name is {identity.firstName} and I am an aspiring {
          identity.occupation
        }. I work with {skills.join(", ")}. This is my new Astro site!
      </p>

      <!-- ⭐⭐⭐ Conditional rendering! -->
      {happy && <p>I am happy to be learning Astro!</p>}
      {finished && <p>I finished this tutorial!</p>}
      {
        goal === 3 ? (
          <p>My goal is to finish in 3 days.</p>
        ) : (
          <p>My goal is not to finish in 3 days.</p>
        )
      }

      <p>
        I am working through Astro's introductory tutorial. This is the second
        page on my website, and it's the first one I built myself!
      </p>

      <p>Here are my hobbies:</p>
      <ul>
        {identity.hobbies.map((hobby) => <li class="hobby">{hobby}</li>)}
      </ul>

      <p>
        This site will update as I complete more of the tutorial, so keep
        checking back and see how my journey is going!
      </p>
      <!-- <Footer /> -->
    </BaseLayout>
  </body>
</html>
